:root {
  --screen-width: max(min(90vw, 60vh), 360px);
  --thick-border: 0.2rem solid #5e5c64;
  --thin-border: 0.1rem solid #5e5c64;
  --selected-border: 0.3rem solid #62a0ea;
  --selected-shadow: 0 0 0 0.2rem #62a0ea;
}

body {

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  height: calc(100vh - 20px);
  width: var(--screen-width);
  padding: 0 calc((100vw - var(--screen-width)) / 2);
  font-size: calc(var(--screen-width) / 20);
  margin: 0;
  color: #3d3846;

  .screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
  }

  .header {
    font-family: sans-serif;
    text-align: center;
    color: #1a5fb4;
    font-size: 200%;
    font-weight: bold;
    text-transform: uppercase;

    a {
      text-decoration: none;
      color: #1a5fb4 !important;
    }

    .difficulty {
      display: block;
      font-size: 30%;
      color: #5e5c64;
    }
  }

  .options {
    display: flex;
    flex-direction: column;
    gap: 2em;

    .option {
      display: flex;
      justify-content: center;
      align-items: center;

      .selector {
        color: #99c1f1;
        cursor: pointer;
        font-size: 150%;

        &:hover {
          color: #62a0ea;
        }

        &:active {
          color: #1c71d8;
        }

        &:is(.disabled) {
          color: #deddda;
          cursor: default;
        }
      }

      .value {
        width: calc(var(--screen-width) / 2);
        text-align: center;
        text-transform: uppercase;
      }
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    .button {
      width: calc(var(--screen-width) / 2);
      height: 2.5em !important;
      display: flex;
      padding: 1em;

      span {
        flex: 1;
      }
    }
  }

  .board {
    align-self: center;
    display: flex;
    align-items: center;
  }

  .grid {
    display: grid;
    width: var(--screen-width);
    grid-template: repeat(9, calc(100% / 9)) / repeat(9, calc(100% / 9));
    font-size: 150%;
    cursor: pointer;

    .cell {
      aspect-ratio: 1;
      border-top: var(--thin-border);
      border-left: var(--thin-border);
      display: flex;
      justify-content: center;
      align-items: stretch;
      text-align: center;

      .guess {
        flex-grow: 1;
        display: grid;
        grid-template: repeat(3, calc(100% / 3)) / repeat(3, calc(100% / 3));
        font-size: 30%;
        padding: 0.3em;

        & > span {
          aspect-ratio: 1;
        }
      }

      .answer {
        color: #1a5fb4;
      }

      .error {
        color: #a51d2d
      }
    }

    .top-border {
      border-top: var(--thick-border);
    }

    .left-border {
      border-left: var(--thick-border);
    }

    .bottom-border {
      border-bottom: var(--thick-border);
    }

    .right-border {
      border-right: var(--thick-border);
    }

    .selected {
      -webkit-box-shadow:inset var(--selected-shadow);
      box-shadow:inset var(--selected-shadow);
    }

    .highlight {
      background: #faebd7;
    }

    .highlight-complete {
      background: #99c1f1;
    }
  }

  .toolbar {
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: auto;
    grid-template-areas:
      "btn-1 btn-2 btn-3 btn-4 btn-5 btn-guess btn-undo"
      "btn-6 btn-7 btn-8 btn-9 btn-0 btn-guess btn-redo";
    gap: 0.3em;
    justify-items: center;
    justify-content: center;
  }

  .button {
    border: 2px solid #99c1f1;
    border-radius: 0.5em;
    text-align: center;
    width: 1.8em;
    font-size: max(100%, 16pt);
    /* padding: 0.2em 0; */

    background: #99c1f1;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;

    &:not(#btn-guess) {
      height: 1.8em;
    }

    &:hover {
      border-color: #62a0ea;
      background: #62a0ea;
    }

    &:is(.toggled) {
      border-color: #1c71d8;
      background: #1c71d8;
      color: white;

      &:hover {
        border-color: #1a5fb4;
        background: #1a5fb4;
      }

      &:active {
        border-color: #1c71d8;
        background: #1c71d8;
      }
    }

    &:active {
      border-color: #1c71d8;
      background: #1c71d8;
      color: white;
    }

    &:is(.disabled) {
      border-color: #deddda;
      background: #deddda;
      color: #5e5c64;
      cursor: default;
    }

    span.guess {
      font-size: 70%;
    }
  }

  .time {
    text-align: center;
    font-size: 150%;

    i {
      color: #1a5fb4;
    }
  }

  .loading {
    color: #888;
    text-align: center;
  }

  .footer {
    text-align: center;
    font-size: 50%;

    a {
      color: #000;
    }
  }
}
